---
interface Props {
  title: string;
  description: string;
  tags: string[];
  image: string;
  boolean: boolean;
  url: string;
}

const { tags, title, description, image, boolean, url } = Astro.props;
---

<div class="hover:translate-y-1">
  <div class="overflow-hidden rounded-md bg-slate-800">
    <div class="aspect-w-3 aspect-h-2">
      <img
        class="h-full w-full object-cover object-center"
        src={image}
        alt="Image post"
        loading="lazy"
      />
    </div>
    <div class="px-3 pt-4 pb-6 text-center">
      <h2 class="text-xl font-semibold text-gray-200">{title}</h2>
      <!-- <div
        class="mt-1 flex flex-wrap gap-2 justify-center text-xs text-gray-400"
      >
        {tags?.map((item) => <p>{item}</p>)}
      </div> -->

      <div class="mt-2 text-sm text-gray-200">
        {description}
      </div>
      <div class="flex justify-center border-t border-gray-600 pt-2 mt-2">
        {
          boolean ? (
            <a href={url} class="hover:text-white" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 fill-gray-200 hover:fill-white"
              >
                <path d="M21.721 12.752a9.711 9.711 0 0 0-.945-5.003 12.754 12.754 0 0 1-4.339 2.708 18.991 18.991 0 0 1-.214 4.772 17.165 17.165 0 0 0 5.498-2.477ZM14.634 15.55a17.324 17.324 0 0 0 .332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 0 0 .332 4.647 17.385 17.385 0 0 0 5.268 0ZM9.772 17.119a18.963 18.963 0 0 0 4.456 0A17.182 17.182 0 0 1 12 21.724a17.18 17.18 0 0 1-2.228-4.605ZM7.777 15.23a18.87 18.87 0 0 1-.214-4.774 12.753 12.753 0 0 1-4.34-2.708 9.711 9.711 0 0 0-.944 5.004 17.165 17.165 0 0 0 5.498 2.477ZM21.356 14.752a9.765 9.765 0 0 1-7.478 6.817 18.64 18.64 0 0 0 1.988-4.718 18.627 18.627 0 0 0 5.49-2.098ZM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 0 0 1.988 4.718 9.765 9.765 0 0 1-7.478-6.816ZM13.878 2.43a9.755 9.755 0 0 1 6.116 3.986 11.267 11.267 0 0 1-3.746 2.504 18.63 18.63 0 0 0-2.37-6.49ZM12 2.276a17.152 17.152 0 0 1 2.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0 1 12 2.276ZM10.122 2.43a18.629 18.629 0 0 0-2.37 6.49 11.266 11.266 0 0 1-3.746-2.504 9.754 9.754 0 0 1 6.116-3.985Z" />
              </svg>
            </a>
          ) : (
            <a href={url} class="hover:text-white" target="_blank">
              <svg
                viewBox="739 407 31.791 31.028"
                class="w-6 h-6 fill-gray-200 hover:fill-white"
              >
                <path
                  d="M754.894 407a15.894 15.894 0 0 0-5.022 30.973.8.8 0 0 0 1.085-.766c0-.378-.014-1.377-.022-2.703-4.42.96-5.353-2.13-5.353-2.13a4.204 4.204 0 0 0-1.765-2.325c-1.443-.987.11-.966.11-.966a3.339 3.339 0 0 1 2.439 1.638 3.383 3.383 0 0 0 4.625 1.32 3.394 3.394 0 0 1 1.009-2.125c-3.529-.401-7.239-1.765-7.239-7.855a6.145 6.145 0 0 1 1.636-4.264 5.716 5.716 0 0 1 .156-4.206s1.335-.427 4.37 1.629a15.067 15.067 0 0 1 7.957 0c3.034-2.056 4.366-1.629 4.366-1.629a5.71 5.71 0 0 1 .158 4.206 6.134 6.134 0 0 1 1.629 4.264c0 6.106-3.716 7.449-7.256 7.842a3.79 3.79 0 0 1 1.079 2.944c0 2.125-.019 3.839-.019 4.36a.797.797 0 0 0 1.093.764 15.895 15.895 0 0 0 10.653-17.627A15.894 15.894 0 0 0 754.894 407z"
                  fill-rule="evenodd"
                />
              </svg>
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
